/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width:400px;
    height: 550px;
    background-color: white;
    border: 2px solid gray;
    text-align: center;
    justify-content: center;
}
input{
    width: 50%;
    height: 20px;
    background-color: bisque;
    border: 1px solid black;
    color: aquamarine;
    justify-content: center;
    
    text-align: center;
}
select{
    width: 50%;
}
input{
    margin:10px;
}
.simptomlar{
    height: 80px;
    width: 75%;
    border-radius: 71px;
}
button{
    text-align: center;
    justify-content: center;
    margin: 20px;
    width: 180px;
    height: 50px;
    background-color: rgb(103, 241, 103);
    color: white;

}
button:hover{
    background-color: pink;
} */

.box{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    padding: 50px;
}
.gen{
     margin: 10px;
     width: 120px;
     height: 30px;
     background-color: cadetblue;
     color: aliceblue;
}
button{
    margin: 40px;
    width:120px;
    height: 40px;
    background-color: cadetblue;
    color: white;
}
.simptomlar{
    height: 70px;
    border-radius: 42px;
    width: 300px;
    color: black;
    justify-content: center;
    align-items: center;
}